@model Web.Models.OrderViewModel.OrderIndexViewModel

@{
    ViewBag.Title = "Your order";
}

<h2>Your order</h2>
<table class="table">
    <thead>
        <tr>
            <th>Count</th>
            <th>Name</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString()</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString())
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString()
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Checkout</a>
</div>