@model Core.Entity.Catalog

<h2>Edit</h2>

<p>
    <a asp-controller="Admin" asp-action="IndexCatalog">Back</a>
</p>

@using (Html.BeginForm("EditCatalog", "Admin", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Catalog</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
