@model IEnumerable<Web.Models.OrderViewModel.IndexAdminOrderViewModel>

@{
    ViewBag.Title = "Orders";
}

<h2>List of orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var og in item.Products)
                {
                    @Html.DisplayFor(modelItem => og.Name),
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipStatus);
            </td>
            <td>
                @Html.ActionLink("Change Status", "ChangeStatus", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteOrder", new { id = item.ID })
            </td>
        </tr>
    }
</table>