@model IEnumerable<Web.Models.ProductViewModel.IndexProductViewModel>

@{
    ViewBag.Title = "Product";
}

<h2>List of product</h2>


<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Admin" asp-action="CreateProduct">Create</a>
    }
</p>

<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
    {
        <input class="form-control" type="text" placeholder="Start Price..." name="startPriceAt" />
        <input class="form-control" type="text" placeholder="End Price..." name="endPriceAt" />
        <input class="form-control" type="text" placeholder="Start Rating..." name="startRatingAt" />
        <input class="form-control" type="text" placeholder="End Rating..." name="endRatingAt" />
        @Html.DropDownList("sortBy", ViewBag.Sort as SelectList, String.Empty, new { @class = "form-control" })
        <button class="btn btn-success" type="submit">Search</button>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCatalog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCatalog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>

            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "EditProduct", "Admin", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteProduct", "Admin", new { id = item.ID })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Buy", "BuyProduct", "User", new { id = item.ID })
                </td>
            }
        </tr>
    }
</table>